<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if page.resume_social_links %}
<ul class="icon-links">

  <!-- GitHub link -->
  {% if page.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_github_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  <!-- Velog link -->
  {% if page.resume_social_links.resume_velog_url %}
  <li class="icon-link-item"></li><a href="{{ page.resume_social_links.resume_velog_url }}" class="icon-link" itemprop="sameAs"><img src="assets/velog.png" width="28" height="28" style="vertical-align:middle;margin:0px"/></a></li>
  {% endif %}

  <!-- Twitter link -->
  {% if page.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_twitter_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}
  
  <!-- Medium link -->
  {% if page.resume_social_links.resume_medium_url %}
  <li class="icon-link-item">
    <a href="{{ page.resume_social_links.resume_medium_url }}" class="icon-link" itemprop="url">{% include icons/icon-medium.html %}</a>
  </li>
  {% endif %}

  <!-- Dribbble link -->
  {% if page.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_dribbble_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-dribbble.html %}</a></li>
  {% endif %}

  <!-- Facebook link -->
  {% if page.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_facebook_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-facebook.html %}</a></li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if page.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
  {% endif %}

  <!-- Instagram link -->
  {% if page.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_instagram_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-instagram.html %}</a></li>
  {% endif %}

  <!-- Website link -->
  {% if page.resume_social_links.resume_website_url %}
  <li class="icon-link-item"><a href="{{ page.resume_social_links.resume_website_url }}" class="icon-link" itemprop="url">{% include icons/icon-webpage.html %}</a></li>
  {% endif %}

</ul>
{% endif %}
